@charset "UTF-8";
/* CSS Document */
/*-
*{
  /*box-sizing: border-box;
  font-family: 'Open Sans', Helvetica;*/
/*  
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
}

body {
  background: #eee;
}
*/


/* {
  /*box-sizing: border-box;
  font-family: 'Open Sans', Helvetica;*/
  
  /*box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
}*/

:focus {
  outline: none;
}



.registerform {
  /*position: absolute;
  /*top: 40%;*/
  /*margin-top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
  */
  
   box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  
  top:300px;
  margin-left: 35%;
  width: 30%;
	box-sizing: border-box;
	font-family: "proxima-nova", sans-serif;
	font-weight: 100;
	text-align: center;
	padding-bottom: 200px;
}
.registerform label {
  display: block;
  margin: 15px 0 5px;
  text-transform: uppercase;
}
.registerform input {
  width: 94%;
  margin: 0;
  padding: 10px;
  border: 1px solid #aaa;
  background: #fff;
  text-align: center;
  font-size: 1rem;
}
.registerform input:focus {
  border: 1px solid #334;
}
.registerform input#firstname, .registerform input#lastname {
  width: 44%;
  margin: 0 -3px;
}
.registerform input#firstname:focus, .registerform input#lastname:focus {
  position: relative;
}



.registerform input[type="submit"] {
  margin: 15px 0 0 0;
  color: #f3f3f3;
  /*background: #334;*/
 background: #082E57;
  border: 1px solid #334;
  text-transform: uppercase;
  cursor: pointer
}
.registerform input[type="submit"]:focus, .registerform input[type="submit"]:hover {
 
  border-color: #f3f3f3;
  color: #fff;
  background: #334;
  
   background: #0563AB;
    
   color: #f3f3f3;
}

.errors {
  /*position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;*/
  text-align: center;
}



select#slct1, select#slct2  {
	
  width: 50%;
  margin: 0;
  padding: 10px;
  border: 1px solid #aaa;
  background: #fff;
  text-align: center;
  font-size: 1rem;
  height: 45px;
  /* float: right; */
  float: left;
  margin-bottom: 2%;
}

select#slct3 {
	
	width: 100%;
  margin: 0;
  padding: 10px;
  border: 1px solid #aaa;
  background: #fff;
  text-align: center;
  font-size: 1rem;
  height: 45px;
  /* float: right; */
  float: left;
  margin-bottom: 2%;
}


