#feature-container {
    padding-top: 6%;
    padding-bottom: 6%;
    //padding: 6% 8%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.05);
    @include display-flex();
}

#feature-screenshot{
    padding: 0% 8%;
}

#feature-description {
    padding: 10% 8%;
}

#fature-icon img {
    width: 64px;
    height: 64px;
}

#feature-description h1 {
    font-weight: 500;
    color: $pink;
}

#feature-description p {
    color: #bbbbbb;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.picture-on-right #feature-screenshot {
    order: 1;
    @include display-flex();
    justify-content: flex-end;
}

.picture-on-left #feature-description {
    order: 2;
}

@media screen and (min-width: $desktop-l) {
   
}

@media screen and (max-width: $desktop-l) {
   #feature-screenshot img {
        max-height: 550px;
    }
}

@media screen and (max-width: $desktop) {
    #feature-screenshot img {
        max-height: 500px;
    }
}

@media screen and (max-width: $laptop) {
    
    #feature-screenshot img {
        max-height: 400px;
    }

     #fature-icon img {
        width: 48px;
        height: 48px;
    }
    
    #feature-description h1 {
        font-size: 24px;
    }
    
    #feature-description p{
        font-size: 16px;
        line-height: 20px;
    }    
}

@media screen and (max-width: $tablet) {
    #feature-screenshot img {
        max-height: 300px;
    }
    
    #fature-icon img {
        width: 32px;
        height: 32px;
    }
    
    #feature-description h1 {
        font-size: 18px;
    }
    
    #feature-description p{
        font-size: 14px;
        line-height: 18px;
    }
    
    #feature-description {
        padding: 6% 8%;
    }
}

@media screen and (max-width: $mobile-l) {
    
    #feature-container {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    #feature-screenshot{
        padding: 0% 3%;
    }

    #feature-description {
        padding: 10% 3%;
    }
    
    #feature-screenshot img {
        max-height: 250px;
    }
    
    #fature-icon img {
        width: 24px;
        height: 24px;
    }
    
    #feature-description h1 {
        font-size: 14px;
    }
    
    #feature-description p{
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: $mobile-m) {
   
}

@media screen and (max-width: $mobile-s) {   
    #feature-screenshot img {
        max-height: 200px;
    }
    
     #feature-description h1 {
        font-size: 12px;
    }
    
    #feature-description p{
        font-size: 10px;
        line-height: 12px;
    }
}